h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: rgb(51, 51, 51);
}
h1,
h2,
h3 {
  color: #cd2353;
}
h1 {
  font-size: 40px;
  font-style: italic;
  text-transform: uppercase;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
}
p {
  font-size: 22;
  line-height: 1.5;
}
li {
  font-size: 20;
}
/* footer p {
  font-size: 16px;
} */
#author {
  font-style: italic;
}
#copyright {
  font-size: 16px;
}
.related-author {
  font-weight: bold;
  font-size: 18px;
}
.related {
  list-style: none;
}
.main-header {
  background-color: #f7f7f7;
}
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #cd2353;
  border-bottom: 5px solid #cd2353;
}
